[user]
  name = Alejandro Dustet
  email = aledustet@gmail.com

[color]
 diff = auto
 status = auto
 branch = auto
 meta = yellow

[core]
 excludesfile = /Users/dustet/.gitignore_global
 editor = /usr/bin/vim

[apply]
 whitespace = nowarn

[alias]
 lg = log --remotes --graph --branches --format='%C(auto)%h%d%Creset %s %Cgreen(%ar) %Cblue<%an>%Creset'
 st = status -s
 co = checkout
 aa = add -A
 cm = commit -m
 mer = merge --no-ff

[merge]
 tool = vimdiff

[mergetool]
  keepBackup = true

[push]
  default = simple

[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[filter "lfs"]
  clean = git lfs clean %f
  smudge = git lfs smudge %f
  required = true
